<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-8">
      <h3 class="bg-primary text-white pt-2 pb-3 text-center">
        {{ model.user }} Todo Example
      </h3>
      <div class="inpput-group">
        <input class="form-control" #todoText placeholder="New Todo Add" />
        <button
          class="btn btn-primary mt-2 mb-2 col-12"
          (click)="addItem(todoText.value); todoText.value = ''"
        >
          Add
        </button>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" [(ngModel)]="isDisplay" class="custom-control-input my-3" id="displayAll">
        <label for="displayAll">Display All</label>
      </div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getItems(); let rowNum = index">
            <td>{{ rowNum + 1 }}</td>
            <td>{{ item.description }}</td>
            <td>
              <input type="checkbox" [(ngModel)]="item.action" />
            </td>
            <td [ngSwitch]="item.action">
              <span *ngSwitchCase="true"> Yes </span>
              <span *ngSwitchCase="false"> No </span>
              <p *ngSwitchDefault>Null</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
