<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-8">
      <h3 class="bg-primary text-white pt-2 pb-3 text-center">
        Nedim Kacan Todo Example
      </h3>
      <div class="inpput-group">
        <input class="form-control" placeholder="New Todo Add" />
        <button class="btn btn-primary mt-2 mb-2 col-8">Add</button>
      </div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Kahvaltı</td>
            <td>No</td>
          </tr>
          <tr>
            <td>Kitap Oku</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Yemek</td>
            <td>No</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
